<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar VueJs</title>
    <style>
        .done {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div id="app">
    <form @submit.prevent="addTodo">
        <input v-model="newTodo">
        <button>Add Todo</button>
    </form>
    <ul>
        <li v-for="todo in filteredTodos" :key="todo.id">
            <input type="checkbox" v-model="todo.done">
            <span :class="{ done: todo.done }">{{ todo.text }}</span>
            <button @click="removeTodo(todo)">X</button>
        </li>
    </ul>
    <button @click="hideCompleted = !hideCompleted">
        {{ hideCompleted ? 'Show all' : 'Hide completed' }}
    </button>
</div>


<!-- Script vue -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
const { createApp } = Vue
let id = 0
createApp({
    data() {
        return {
            newTodo: '',
            hideCompleted: false,
            todos: [
                { id: id++, text: 'Learn HTML', done: true },
                { id: id++, text: 'Learn JavaScript', done: true },
                { id: id++, text: 'Learn Vue', done: false }
            ]
            }
        },
        computed: {
            filteredTodos() {
            return this.hideCompleted
                ? this.todos.filter((t) => !t.done)
                : this.todos
            }
        },
        methods: {
            addTodo() {
            this.todos.push({ id: id++, text: this.newTodo, done: false })
            this.newTodo = ''
            },
            removeTodo(todo) {
            this.todos = this.todos.filter((t) => t !== todo)
            }
        }
}).mount('#app')
</script>

</body>
</html>